

body{
	 background-image:url(../img/espacio.png);
	 padding:0;
	margin:0;
	}

	#progressBar{
		position:absolute;
		right:5%;
		top:15%;
		width:55%;
		height:60%;
	}
	
	.fin{
	position:absolute;
	 width:50%;
	 height:30%;
	 top:30%;
	 left:25%;
     border-style:solid;
	 border-color:grey;
	 background:rgba(41, 37, 37, 0.85);
	 display:none;
	}
	.fintexto{
		text-align:center;
		line-height: 200px;
		color:white;
		font-size:5vw;
	}

.tierra{
	 position:fixed;
	 width:100%;
	 height:20%;
	 bottom:0%;
	 left:0%;
	
}

.tierra img{
	 height: 100%;
	 width: 100%;
}



.nave {
	 position: fixed;
	 width:20%;
	 height:20%;
	 text-align:center;
	 top:30%;
	 left:40%;
}
.nave img {
	 height:100%;
	 
}

.play {
	 background-image:url(../img/play56x56.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	 position:absolute;
	 left:2%;
	 top:2%;
	 width: 5%;
     height: 90px;
	 opacity:0.5;
}

.play:hover{
	opacity:1;
}
.help:hover{
	opacity:1;
}
.pausa:hover{
	opacity:1;
}
.replay:hover{
	opacity:1;
}

.pausa{
	 background-image:url(../img/pause.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	 position:absolute;
	 left:8%;
	 top:2%;
	 width: 5%;
     height: 90px;
	 opacity:0.5;
	 }
	
.replay{
	 background-image:url(../img/replay56x56.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	 position:absolute;
	 left:14%;
	 top:2%;
	 width: 5%;
     height: 90px;
	 opacity:0.5;
	 }	

.help{
	 position:absolute;
	 bottom:25%;
	 right:2%;
     background-image: url(../img/help.png);
     background-repeat: no-repeat;
     background-size: contain;
	 width: 5%;
     height: 90px;
	 opacity:0.5;
}

.gato{
	 background-image:url(../img/gato.png);
	 background-repeat:no-repeat;
	 background-size:contain;
	 position:absolute;
	 bottom:10%;
	 left:5%;
	 width:20%;
	 height:20%;
}

.menu{
	 border-style:solid;
	 border-color:grey;
	 position:absolute;
	 background:rgba(41, 37, 37, 0.85);
	 right:4%;
	 top:8%;
	 width:25%;
	 height:20%;
}

.marcador {
	 position: relative;
     width:100%;
	 height:33%;
	 border-bottom: 4px solid grey;
}
.marcador img {
	 position:absolute;
	 right:10%;
	 top:20%;
	 width:50%;
	 height:60%;
}
.marcador p {
	 position:absolute;
	 margin:0%;
	 padding:0%;
	 color:white;
	 font-size:2vw;	
	 width:50%;
	 left:10%;
	 top:12%;
} 
.velocidad{
	 position:relative ;
     width:100%;
	 height:33%;
	 border-bottom: 4px solid grey;
}
 .vel1{
	 position:absolute;
	 margin:0%;
	 padding:0%;
	 color:white;
	 font-size:2vw;	
	 width:50%;
	 left:10%;
	 top:10%;
}
.vel2{
	 position:absolute;
	 margin:0%;
	 padding:0%;
	 color:white;
	 font-size:2vw;	
	 width:50%;
	 right:10%;
	 top:10%;
}
.altura{
	 position:relative ;
     width:100%;
	 height:33%;
}
.altura1{
	 position:absolute;
	 margin:0%;
	 padding:0%;
	 color:white;
	 font-size:2vw;	
	 width:50%;
	 left:10%;
	 top:10%;
}
.altura2{
	 position:absolute;
	 margin:0%;
	 padding:0%;
	 color:white;
	 font-size:2vw;	
	 width:50%;
	 right:10%;
	 top:10%;
}
.pausamenu{
	 position:fixed;
	 width:50%;
	 height:30%;
	 top:30%;
	 left:25%;
     border-style:solid;
	 border-color:grey;
	 background:rgba(41, 37, 37, 0.85);
	 display:none;
}
.pausamenu p{
	 text-align:center;
	 color:white;
	 font-size:7vw;
	 margin: 40px;
}
.helpmenu{
	 position:fixed;
	 width:50%;
	 height:35%;
	 top:30%;
	 left:25%;
     border-style:solid;
	 border-color:grey;
	 background:rgba(41, 37, 37, 0.85);
	 display:none;
}
.helpmenu ul{
	 color:white;
	 font-size:2vw;
}
.helpmenu a{
	 color:blue;
}
.about{
	 position:fixed;
	 width:50%;
	 height:30%;
	 top:30%;
	 left:25%;
     border-style:solid;
	 border-color:grey;
	 background:rgba(41, 37, 37, 0.85);
}
.about p{
	 position:relative;
	 color:white;
	 font-size:1.5vw;
	 left:5%;
}